*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder { color: $gray; }
:-moz-placeholder { color: $gray; }
::-moz-placeholder { color: $gray; }
:-ms-input-placeholder { color: $gray; }

html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $gray-light;
}

a,
.link {
  color: $gray-dark;
  cursor: pointer;

  &,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &.link--active,
  &:focus,
  &:hover {
    color: $color-primary;
  }
}

.link--border {
  border-bottom: 2px solid transparent;

  &,
  &:not(:hover):not(:focus) {
    color: $gray;
  }

  &:focus,
  &:hover {
    border-bottom-color: $color-primary;
  }
}

a,
.link,
.button,
button {
  [class*="icon-"] {
    vertical-align: middle;
    line-height: 1;
    margin-right: .3rem;
  }
}

input,
button,
.button {
  @include form-base(6px, 8px);
  outline: none;
  /*transition: color 200ms ease-out,
              border-color 200ms ease-out;*/
}

button,
.button {
  cursor: pointer;
  color: $gray-dark;

  &.button--active,
  &:focus,
  &:hover {
    color: $color-primary;
  }

  &.button--disabled {
    color: $gray;
    text-decoration: line-through;
  }

  [class*="icon-"] {
    line-height: 1;
    vertical-align: middle;
  }
}