@import
  "helpers",
  "base",
  "header"
;

section {
  display: flex;
  flex-wrap: wrap;
  padding: (($gutter / 2) / 2);
}

.article,
.article__inner {
  display: flex;
}

.article {
  width: 100%;
  padding: ($gutter / 2) / 2;

  @media #{$sm-up} {
    width: 50%;
  }

  @media #{$md-up} {
    width: (100% / 3);
  }

  @media #{$lg-up} {
    width: 25%;
  }
}

.article__inner {
  flex-direction: column;
  flex: 1;
  position: relative;
  background-color: #fff;
  padding: $gutter;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
  }

  h2,
  h3 {
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: ($gutter / 2);
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
  }
}

.article__image__mock {
  padding-top: 72%;
}

.article__image {
  position: relative;

  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: scale(.9) translate(-50%, -50%);
    transform-origin: top left;
    transition: transform 300ms ease-out;
  }
}

.article--need img {
  transform: scale(1) translate(-50%, -50%);
}

.article__footer {
  padding-top: $gutter;
}

.article__stats {
  display: block;
  margin-top: .2rem;
}

.article__actions {
  margin-top: $gutter;

  button {
    &:before {
      content: "#";
      opacity: 0;
      transform: translateX(-.4rem);
      transition: all 300ms ease-out;
    }

    &.button--active {
      font-weight: bold;

      &:before {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &:first-child {
      border-right: 0;
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.article__license {
  color: $text-color;
  border-bottom: 2px solid $gray-light;
  margin-right: .4rem;

  &.article__license--active,
  &:focus,
  &:hover {
    border-bottom-color: $color-primary;
  }
}

.article--need .article__inner:before {
  background-color: $color-primary;
}

.article--owned {
  opacity: .4;
  filter: grayscale(100%);
  transition: opacity 300ms ease-out,
              filter 300ms ease-out;

  &:hover {
    opacity: 1;
    filter: grayscale(0);
  }
}

small {
  font-size: .8rem;
  color: $gray;
}

.block {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: $gutter / 2;
  margin: ($gutter / 2) (($gutter / 2) / 2) (($gutter / 2) / 2) (($gutter / 2) / 2);
}